@charset "UTF-8";
.w {
  width: 990px;
  margin: 0 auto;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

body {
  background-color: #f4f4f4;
}

/* 头部广告 */
header {
  background-color: #ab1708;
  height: 0.67rem;
  width: 100%;
  font-size: 40px;
  color: #fff;
  font-weight: 700;
  text-align: center;
  line-height: 0.67rem;
}

/* 顶部悬浮导航 */
.suspension_nav {
  display: none;
  z-index: 999;
  background-color: #fff;
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 1px solid #e1251a;
}

.suspension_nav .w {
  height: 100%;
  display: flex;
  align-items: center;
}

.jd_dog {
  width: 125px;
  height: 40px;
}

.jd_dog {
  background: url(https://misc.360buyimg.com/mtd/pc/index_2019/1.0.0/assets/sprite/header/sprite.png) no-repeat 0 -122px;
}

.searchbox_t {
  margin-left: 100px;
  width: 500px;
  height: 0.32rem;
  border: 1px solid #e1251a;
  display: flex;
  margin-right: 20px;
}

.searchbox_t input {
  flex: 1;
  width: 4.28rem;
  height: 100%;
  outline: none;
  border: 1px solid #e1251a;
  padding-left: 0.18rem;
  box-sizing: border-box;
}

.icon-gouwuche {
  color: #e1251a;
}

.shorpcar_t {
  position: relative;
}

.shorpcar_t span:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  width: 18px;
  height: 14px;
  background-color: #e1251a;
  border-radius: 7px;
  position: absolute;
  left: 25px;
  top: 0;
}

.magnifyingglass_t {
  width: 58px;
  background-color: #e1251a;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.shorpcar_t {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1.3rem;
  height: 0.34rem;
  border: 1px solid #e1251a;
  color: #e1251a;
}

/* 顶部导航 */
/* 顶部导航 */
.icon-dizhi {
  color: #e1251a;
}

.login {
  height: 0.4rem;
  width: 100%;
  background-color: #e5e4e0;
}

.login i {
  color: #e1251a;
}

.login-c {
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.login-l {
  display: flex;
  align-items: center;
}

.login-c a {
  color: #9b999c;
}

.login-r {
  width: 7.1rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* 搜索区域  */
.search {
  margin-bottom: 0.1rem;
  height: 1.4rem;
  width: 100%;
  background-color: #fff;
}

.search-c {
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.search-c-l {
  height: 100%;
  width: 1.92rem;
}

.search-c-l img {
  width: 100%;
  height: 100%;
}

.search-c-r {
  flex: 1;
  position: relative;
}

/* 搜索框 */
.searchbox {
  left: 0.3rem;
  top: 0.25rem;
  position: absolute;
  width: 4.88rem;
  height: 0.32rem;
  border: 1px solid #e1251a;
  display: flex;
}

.searchbox input {
  width: 4.28rem;
  height: 100%;
  outline: none;
  border: 0;
  padding-left: 0.18rem;
  box-sizing: border-box;
}

.magnifyingglass {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  background-color: #e1251a;
}

/* 热搜 */
.hotwords {
  position: absolute;
  top: 0.7rem;
  left: 0.30rem;
}

.hotwords a {
  color: #999;
  margin-right: 10px;
}

.hotwords a:first-child {
  color: #e1251a;
}

/* 购物车  */
.shorpcar {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1.3rem;
  height: 0.34rem;
  border: 1px solid #eee;
  position: absolute;
  top: 0.25rem;
  left: 5.4rem;
  color: #e1251a;
}

.icon-gouwuche {
  color: #e1251a;
}

.shorpcar span:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  width: 18px;
  height: 14px;
  background-color: #e1251a;
  border-radius: 7px;
  position: absolute;
  left: 25px;
  top: 0;
}

/* 二维码 */
.mobile_static_qrcode {
  width: 0.77rem;
  height: 0.77rem;
  position: absolute;
  right: 0;
  top: 0.04rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
}

.mobile_static_qrcode img {
  width: 0.6rem;
  height: 0.6rem;
}

/* 主导航部分 */
.search-c-r .nav a {
  margin-right: 0.25rem;
  font-size: 12px;
}

.search-c-r .nav {
  position: absolute;
  bottom: 0.12rem;
  left: 0.2rem;
}

.nav a:first-child,
.nav a:nth-child(2) {
  color: #e1251a;
  font-weight: 700;
}

/* banner部分 */
.banner {
  height: 4.6rem;
  display: flex;
  justify-content: space-between;
}

/* */
.slideshow {
  height: 100%;
  width: 5.90rem;
  margin-left: 5px;
  position: relative;
}

.slideshow img {
  vertical-align: top;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
}

.slideshow ol {
  position: absolute;
  left: 0.3rem;
  bottom: 0.2rem;
}

.slideshow li {
  margin: 0 3px;
  float: left;
  width: 0.1rem;
  height: 0.1rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.slideshow > a {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0.25rem;
  height: 0.32rem;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  top: 50%;
  transform: translateY(-50%);
}

.slideshow .left {
  border-radius: 0 0.16rem 0.16rem 0;
}

.slideshow .right {
  right: 0;
  border-radius: 0.16rem 0 0 0.16rem;
}

ol .current {
  background-color: #fff;
}

.sidenav {
  height: 100%;
  width: 1.90rem;
  background-color: #fff;
  position: relative;
}

.sidenav ul {
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.sidenav ul li {
  line-height: 0.24rem;
  padding-left: 0.18rem;
  box-sizing: border-box;
  font-size: 12px;
}

.sidenav ul li:hover {
  background-color: #eee;
}

.sidenav ul a:hover {
  color: #e1251a;
}

/* 二级菜单 */
.navlever_two {
  position: absolute;
  top: 0;
  left: 1.9rem;
  width: 8rem;
  height: 4.6rem;
}

.navtwo {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  width: 8rem;
  height: 4.6rem;
  background-color: pink;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
  background-color: #fff;
}

.navtwo nav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 5.9rem;
  height: 100%;
}

.navtwo nav li {
  display: flex;
  justify-content: space-around;
}

.navtwo nav li:first-child a {
  display: flex;
  height: 0.2rem;
  align-items: center;
  padding: 0 0.14rem 0 0.1rem;
  box-sizing: border-box;
  background-color: #333333;
  color: #fff;
}

.navtwo li a {
  color: #999;
}

.navtwo li a:first-child {
  color: #000;
}

.navtwo .picture {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navtwo .picture-t {
  margin-top: 0.15rem;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1.66rem;
  margin-bottom: 0.1rem;
}

.navtwo .picture-t img {
  width: 0.83rem;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.picture > img {
  width: 1.66rem;
}

/* 个人中心 */
.personcenter {
  height: 100%;
  width: 1.90rem;
  padding: 0 0.15rem;
  box-sizing: border-box;
  background-color: #fff;
}

/* 登陆注册 */
.personcenter-t {
  height: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.personcenter-c {
  height: 1.3rem;
}

.user {
  display: flex;
  justify-content: space-around;
}

/* 头像 */
.user-l {
  width: 0.4rem;
  height: 0.4rem;
  border: 1px solid #fff;
  border-radius: 50%;
  overflow: hidden;
}

.user-l img {
  width: 0.4rem;
  height: 0.4rem;
}

.user-r {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* 新人福利 */
.plus {
  display: flex;
  justify-content: space-around;
}

.plus p {
  width: 0.74rem;
  height: 0.26rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.13rem;
}

.plus p:first-child {
  background-color: #df2519;
  color: #fff;
}

.plus p:last-child {
  background-color: #373737;
  color: #d4cfa7;
}

/* 京东快报 */
.personcenter-c {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.personcenter-c p {
  display: flex;
  justify-content: space-between;
}

.personcenter-c i {
  font-size: 14px;
  font-weight: 700;
}

.personcenter-c p span:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.05rem;
  width: 0.35rem;
  height: 0.16rem;
  background-color: #ffe4de;
  color: #e1251a;
}

/* 手机充值  */
.personcenter-b {
  height: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.personcenter-b p {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.personcenter-b p:first-child span,
.personcenter-b .twop span {
  display: flex;
  justify-content: center;
  align-items: center;
}

.personcenter-b input {
  width: 1.2rem;
  height: 0.2rem;
  padding-left: 0.1rem;
  box-sizing: border-box;
}

.personcenter-b p:nth-child(6) {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0.6rem;
  height: 0.2rem;
  border-radius: 0.1rem;
  background-color: #e1251a;
  color: #fff;
}

.personcenter-b p:last-child {
  color: #889bdd;
}

/* 京东秒杀 */
.seckill {
  margin-top: 30px;
  display: flex;
  height: 2.6rem;
}

.seckill-l {
  text-align: center;
  height: 100%;
  background: url(https://misc.360buyimg.com/mtd/pc/index_2019/1.0.0/assets/img/4a15d8883775742e3efbb850ae14def7.png) no-repeat;
  width: 190px;
  background-color: #e92d21;
  color: #fff;
}

.seckill-l h3 {
  font-size: 30px;
  margin-top: 0.31rem;
  margin-bottom: 1.06rem;
}

.seckill-l > span {
  font-size: 16px;
  font-weight: 700;
}

.seckill-l p {
  display: flex;
  justify-content: center;
  height: 0.3rem;
  margin-top: 0.16rem;
  align-items: center;
}

.seckill-l i {
  margin: 0 6px;
}

.seckill-l p span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 0.3rem;
  height: 0.3rem;
  background-color: #000;
  font-size: 20px;
}

.seckill-r {
  width: 610px;
  height: 100%;
}

.seckill-r nav {
  display: flex;
  height: 2.6rem;
  background: #fff;
}

.seckill-r nav li {
  height: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.seckill-r nav li img {
  width: 1.4rem;
  height: 1.4rem;
}

.seckill-r li p:last-child {
  display: flex;
  border: 1px solid #e1251a;
}

.seckill-r li p:last-child span,
.seckill-r li p:last-child del {
  width: 86px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.seckill-r li p:last-child span:first-child {
  background-color: #e0261a;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}

.seckill > ul {
  background-color: #fff;
  height: 100%;
  flex: 1;
}

.seckill > ul li {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.seckill li {
  border-right: 1px solid #eee;
}

.seckill > ul span {
  display: inline-block;
  width: 82px;
  height: 24px;
  border: 1px solid #e1251a;
  text-align: center;
  line-height: 24px;
  border-radius: 12px;
  color: #e1251a;
  font-weight: 700;
}

/* 特色优选 */
/* 每日特价 */
.feature {
  margin-top: 20px;
  height: 306px;
  display: flex;
  justify-content: space-between;
}

.feature section {
  display: flex;
  width: 492px;
  background-color: #fff;
}

.feature section nav li {
  text-align: center;
  width: 158px;
  margin-left: 12px;
}

.feature section nav li:first-child p {
  padding-top: 16px;
  padding-bottom: 18px;
  font-size: 24px;
  font-weight: 700;
}

.feature section nav li:last-child {
  background-color: #eee;
  height: 236px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature section nav li:last-child img {
  margin-top: 45px;
  margin-bottom: 12px;
  width: 100px;
  height: 100px;
}

.feature section nav li:last-child p {
  margin-bottom: 10px;
}

.feature .selection {
  flex: 1;
  display: flex;
}

.selection {
  flex-direction: column;
}

.selection > p {
  display: flex;
  height: 60px;
  justify-content: flex-end;
  align-items: center;
}

.selection > p a {
  margin: 0 20px;
}

.selection ul {
  width: 334px;
  display: flex;
  flex-wrap: wrap;
}

.selection ul img {
  width: 70px;
  height: 70px;
}

.selection ul li {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 167px;
  margin-bottom: 38px;
}

.selection ul li p {
  margin-right: 16px;
  width: 58px;
  display: flex;
  flex-direction: column;
}

/* 品牌闪购 */
.feature article {
  height: 100%;
  width: 490px;
  background-color: #fff;
}

.feature article h3 {
  font-size: 24px;
}

.feature article nav {
  display: flex;
}

.feature article nav li {
  height: 306px;
}

.feature article nav li:first-child {
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.feature article nav li:first-child img {
  width: 232px;
  height: 232px;
}

.feature article nav li:last-child img {
  width: 100px;
  height: 54px;
}

.feature article nav li:last-child {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

/* 频道广场 */
.channel h3 {
  margin: 26px 0;
  font-size: 28px;
  text-align: center;
}

.channel nav {
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
}

.channel nav li {
  margin-bottom: 10px;
  height: 308px;
  width: 240px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.channel nav li img {
  width: 100%;
  height: 100%;
}

.channel nav li p {
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 150px;
  padding: 22px;
}

.channel nav li span {
  display: flex;
  align-items: center;
}

.channel nav li span:first-child {
  font-size: 22px;
  font-weight: 700;
}

.channel li p img {
  width: 62px;
  height: 70px;
}

/* 为你推荐 */
.recommend-t {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 0.6rem;
  background-color: #fff;
  margin-top: 0.1rem;
  margin-bottom: 0.14rem;
}

.recommend-t a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recommend-t a > span {
  display: flex;
  justify-content: center;
  align-items: center;
}

.recommend-t a > span:first-child {
  font-size: 16px;
  width: 0.82rem;
  height: 0.27rem;
  border-radius: 0.13rem;
  font-weight: 700;
}

.w > h1 {
  margin: 0.27rem 0;
  font-size: 28px;
  text-align: center;
}

.recommend-t a:hover span:first-child {
  color: #fff;
  background-color: #e1251a;
}

.recommend-t a:hover span:last-child {
  color: #e1251a;
}

.recommend-b nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.recommend-b nav li {
  margin-bottom: 0.1rem;
  font-size: 14px;
  padding: 0.3rem 0.12rem 0.2rem;
  width: 1.9rem;
  background-color: #fff;
}

.recommend-b nav li img {
  display: block;
  margin: 5px auto;
}

.recommend-b nav li p {
  line-height: 0.18rem;
}

.recommend-b nav li > span {
  font-size: 18px;
  color: #e1251a;
  font-weight: 700;
}

.recommend-b nav li p:nth-child(2) {
  margin-bottom: 0.12rem;
}

.recommend-b li > p:nth-child(2) span:first-child {
  display: inline-block;
  width: 0.34rem;
  height: 0.16rem;
  background-color: #e1251a;
  color: #fff;
  text-align: center;
}

/* 楼梯效果 */
.stairs {
  position: absolute;
  bottom: -300px;
  right: 0;
}

.stairs li {
  background-color: #fff;
  padding: 15px;
  width: 58px;
  height: 60px;
  border-bottom: 1px solid #eee;
}

.stairs li:last-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* 底部部分 */
footer {
  background-color: #eaeaea;
  margin-top: 50px;
}

.footer-t {
  display: flex;
  align-items: center;
  height: 1rem;
  border-bottom: 1px solid #ccc;
}

.mark {
  display: flex;
  font-size: 18px;
  font-weight: 700;
  justify-content: space-around;
}

.mark p {
  display: flex;
  align-items: center;
}

.mark i {
  margin-right: 5px;
  width: 0.36rem;
  height: 0.42rem;
  background: url(https://misc.360buyimg.com/mtd/pc/index_2019/1.0.0/assets/img/23f3ddf914b1b527d0429a3d713cfe3a.png) no-repeat;
}

.mark p:first-child i {
  background-position: 0px -192px;
}

.mark p:nth-child(2) i {
  background-position: -41px -192px;
}

.mark p:nth-child(3) i {
  background-position: -82px -192px;
}

.mark p:nth-child(4) i {
  background-position: -123px -192px;
}

.footer-m {
  display: flex;
  border-bottom: 1px solid #ccc;
  padding-bottom: 0.16rem;
}

.footer-m dl {
  flex: 1;
}

.footer-m dl dt {
  margin: 24px 0 10px;
  font-size: 14px;
  font-weight: 700;
}

.footer-m dl dd {
  line-height: 0.2rem;
}

.map {
  margin-top: 24px;
  flex: 1;
}

.map h3 {
  text-align: center;
  margin-bottom: 16px;
}

.map p {
  line-height: 16px;
}

.map p:last-child {
  text-align: right;
}

.footer-b {
  padding-bottom: 0.18rem;
  margin-top: 0.18rem;
}

.footer-b P {
  line-height: 0.2rem;
  text-align: center;
}

.footer-b P:last-child {
  margin-top: 0.36rem;
}

.footer-b P span {
  margin: 0 6px;
}

.footer-b p:last-child span {
  display: inline-block;
  width: 1.03rem;
  height: 0.32rem;
  background: url(https://misc.360buyimg.com/mtd/pc/index_2019/1.0.0/assets/img/23f3ddf914b1b527d0429a3d713cfe3a.png) no-repeat;
}

.footer-b p:last-child span:first-child {
  background-position: -205px 0;
}

.footer-b p:last-child span:nth-child(2) {
  background-position: -205px -37px;
}

.footer-b p:last-child span:nth-child(3) {
  background-position: -205px -74px;
}

.footer-b p:last-child span:nth-child(4) {
  background-position: -205px -110px;
}

.footer-b p:last-child span:nth-child(5) {
  background-position: -205px -148px;
}

.footer-b p:last-child span:last-child {
  background-position: 0px -155px;
}
