footer {
    background-color: #eaeaea;
    margin-top: 50px;
}

.footer-t {
    display: flex;
    align-items: center;
    height: 1rem;
    border-bottom: $border_ccc;
}

.mark {
    display: flex;
    font-size: 18px;
    font-weight: 700;
    justify-content: space-around;
}

.mark p {
    display: flex;
    align-items: center;
}

.mark i {
    margin-right: 5px;
    width: 0.36rem;
    height: 0.42rem;
    background: url(https://misc.360buyimg.com/mtd/pc/index_2019/1.0.0/assets/img/23f3ddf914b1b527d0429a3d713cfe3a.png) no-repeat;
}

.mark p:first-child i {
    background-position: 0px -192px;
}

.mark p:nth-child(2) i {
    background-position: -41px -192px;
}

.mark p:nth-child(3) i {
    background-position: -82px -192px;
}

.mark p:nth-child(4) i {
    background-position: -123px -192px;
}

.footer-m {
    display: flex;
    border-bottom: $border_ccc;
    padding-bottom: 0.16rem;
}

.footer-m dl {
    flex: 1;
}

.footer-m dl dt {
    margin: 24px 0 10px;
    font-size: 14px;
    font-weight: 700;
}

.footer-m dl dd {
    line-height: 0.2rem;
}

.map {
    margin-top: 24px;
    flex: 1;
}

.map h3 {
    text-align: center;
    margin-bottom: 16px;
}

.map p {
    line-height: 16px;
}

.map p:last-child {
    text-align: right;
}

.footer-b {
    padding-bottom: 0.18rem;
    margin-top: 0.18rem;
}

.footer-b P {
    line-height: 0.2rem;
    text-align: center;
}

.footer-b P:last-child {
    margin-top: 0.36rem;
}

.footer-b P span {
    margin: 0 6px;
}

.footer-b p:last-child span {
    display: inline-block;
    width: 1.03rem;
    height: 0.32rem;
    background: url(https://misc.360buyimg.com/mtd/pc/index_2019/1.0.0/assets/img/23f3ddf914b1b527d0429a3d713cfe3a.png) no-repeat;
}

.footer-b p:last-child span:first-child {
    background-position: -205px 0;
}

.footer-b p:last-child span:nth-child(2) {
    background-position: -205px -37px;
}

.footer-b p:last-child span:nth-child(3) {
    background-position: -205px -74px;
}

.footer-b p:last-child span:nth-child(4) {
    background-position: -205px -110px;
}

.footer-b p:last-child span:nth-child(5) {
    background-position: -205px -148px;
}

.footer-b p:last-child span:last-child {
    background-position: 0px -155px;
}