body {
    background-color: #fff;
}

.w {
    width: 990px;
    margin: 0 auto;
}

header {
    display: flex;
    height: 100px;
    align-items: center;
}

header span {
    margin-left: 10px;
    display: flex;
    width: 170px;
    height: 40px;
    align-items: flex-end;
    font-size: 25px;
}

.tips-wrapper {
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff8f0;
}

.banner {
    height: 100%;
}

fieldset {
    padding-top: 20px;
    height: 400px;
    background-color: #fff;
    width: 700px;
    border: 1px solid #000;
    margin: 30px auto;
}

form {
    text-align: center;
    padding: 0 20px;
}

form p {
    height: 38px;
    margin-top: 23px;
}

form p:nth-child(4) {
    margin-left: 110px;
}

legend {
    margin: 0 auto;
    font-size: 20px;
}

label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 38px;
}

fieldset p {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
}

form p:nth-child(1) {
    display: flex;
}

form p:nth-child(5) input {
    width: 10px;
    height: 10px;
}

form p:last-child {
    margin-bottom: 20px;
}

form p:last-child input {
    background-color: red;
    color: #fff;
}

form input {
    padding-left: 10px;
    height: 30px;
    width: 200px;
}

form button {
    width: 304px;
    background-color: red;
    color: #fff;
    height: 35px;
}

footer {
    height: 86px;
    padding-top: 20px;
}

footer p {
    text-align: center;
    line-height: 20px;
}

footer i {
    margin: 0 10px;
}